body {
    font-family: 'Kanit', sans-serif;
    background-color: #282828;
}

header {
    height: 90vh;
    background-image: url(./background-image/4ba00977-861e-4f1d-a14e-c8836ff32959.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 12%;
    background-color: rgb(245, 243, 243);
    align-items: center;
    margin: 0px 130px;
    border-radius: 10px;
}

#typewriterText {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    font-size: 3rem;
    margin: 150px 0px 0px 70px;
    color: rgb(8, 0, 255);

}

#line1, #line2 {
    display: block;
}



.Homeicon img {
    height: 82px;
    border-radius: 15%;

}

.idlinks a {
    font-weight: 400;
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 15px;
    /* background-color: blue; */
    padding: 5px;
}

.idlinks a:hover {
    background-color: grey;
    color: white;
}


.about {
    margin: 130px 560px 40px 560px;
    text-align: center;
    color: #282828;
    font-size: 1.5rem;
    border-radius: 40px;
    background:cyan;
}

.container {
    margin: 0px 130px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
    height: 200px;
}

.card img {
    width: 40%;
    border-radius: 50%;
}

.card-description {
    padding-top: 30px;
    padding-right: 30px;
}

.card-description h2 {
    margin-bottom: 0px;
}

.card-description p {
    margin-top: 5px;
}

#ikbal {
    padding-right: 100px;
}

#miad {
    margin-right: 60px;
}

#yeasir {
    margin-right: 35px;
}

.khulna-tour {
    color: #282828;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 40px;
    background:cyan;
    margin: 120px 520px 20px 520px ;
}


.slider-container {
    max-width: 85%;
    margin: auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
}

img {
    width: 100%;
    height: auto;
}


.khulna-tour-images-heading{
    text-align: center;
    margin: 100px 550px 30px 550px ;
    color:#282828;
    background-color: cyan;
    border-radius: 40px;
}

.khulna-tour-images{
    max-width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 40px;
    row-gap: 20px;
}

.khulna-tour-images img{
    border: 10px solid cyan;
    border-radius: 10px;
}

.see-more{
    text-align: center;
    margin-top: 50px;
}

.see-more h2{
    display: inline;
    margin-right: 20px;
    background-color: cyan;
    padding: 0px 10px;
    border-radius: 50%;

}

.see-more h1{
    display: inline;
    margin-right: 30px;
    color: cyan;
}

.see-more a{
    text-decoration: none;
}

.see-more h2:hover{
    background-color:blue;
    color: white;
    border-radius: 50%;
}


.khulna-tour-videos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 85%;
    max-height: 200px;
    margin: auto;
    gap: 30px;

}

.khulna-tour-videos video{
    width: 100%;
    height: 400px;
    border: 2px solid cyan;
    border-radius: 10px;
    background-color:black;
}



















































/* Responsive styling */
@media screen and (min-width: 768px) {
    img {
        max-height: 400px;
    }

   

}

@media screen and (min-width: 1024px) {
    img {
        max-height: 600px;
    }

}